@import url("./global.css");

.titulos {
    font-family: sans-serif;
}

.subtitulos {
    font-family: cursive;
}

footer {
    background-color: lightgray;
    height: 100px;
    padding-top: 1px;
}

body {
    background-image: url("https://i.pinimg.com/736x/b8/21/8f/b8218f2e133298f1ba3b960c1ebb605a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

article {
    background-color: white;
    width: 700px;
    
}

a:hover {
    color: var(--a-color);
    font-size: 2em;
}

main-interests {
    padding-top: 100%;
}
